<div class="container flex align-center justify-center">
  <div
    class="w-full max-w-md p-8 space-y-3 rounded-xl bg-coolGray-50 text-coolGray-800"
  >
    <h1 class="text-2xl font-bold text-center">Login</h1>
    <form
      action="/task/login"
      class="space-y-6 ng-untouched ng-pristine ng-valid"
      data-bitwarden-watching="1"
      method="POST"
    >
      <div class="space-y-1 text-sm">
        <label for="username" class="block text-coolGray-600">Username</label>
        <input
          type="text"
          name="username"
          id="username"
          placeholder="Username"
          class="w-full px-4 py-3 rounded-md border-coolGray-300 bg-coolGray-50 text-coolGray-800"
          required
        />
      </div>
      <div class="space-y-1 text-sm">
        <label for="password" class="block text-coolGray-600">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
          class="w-full px-4 py-3 rounded-md border-coolGray-300 bg-coolGray-50 text-coolGray-800"
          required
        />
        <div class="flex justify-end text-xs text-coolGray-600">
          <a rel="noopener noreferrer" href="#">Forgot Password?</a>
        </div>
      </div>
      <button
        class="block w-full p-3 text-center rounded-sm text-coolGray-50 bg-violet-600"
        type="submit"
      >Sign in</button>
    </form>
    <p class="text-xs text-center sm:px-6 text-coolGray-600">Don't have an
      account?
      <a
        rel="noopener noreferrer"
        href="/task/signup"
        class="underline text-coolGray-800"
      >Sign up</a>
    </p>
  </div>
</div>